<style>
body{
	margin:0;
	font-family: Arial, Halvetica, freesans,sans-serif;
}

.fixed-width{
	width:1000px;
	margin: 0 auto;
	
}


.top-bar{
	background-color:#ecebf1;
	width:100%;
	height:70px;
	color:black;
	font-family: Arial, Halvetica, freesans,sans-selif;
	
}

.top-bar ul{
	margin:0;
	padding:0;
	
}


.top-bar ul li{
	float:left;
	list-style:none;
	font-weight: bold;
	font-size:1.1m;
	border-right: 1px solid #B4B4B4;
	padding:10px 20px 10px 30px;
	
	
	
}

.news-bar{
	background-color:#BB1919;
	width:100%;
	height:60px;
	color:white;
	position: relative;
	
	
}
.news-bar p{
	margin:0;
	padding:0;
	font-size:2.5em;
	font-family:Arial;
	position: relative;
	right:12px;
	
	
	
}


.category-bar{
	background-color:#A91717;
	width:100%;
	height:30px;
	color:white;
	
	
	
}

.category-bar ul{
	margin:0;
	padding:0;
	list-style:none;
}


.category-bar ul li{
	float:left;
	border: 1px solid #BB4545;
}
.bold{
	font-weight:bold;
	font-size: 2em;
	
}

.location-bar{
	background-color:white;
	width:100%;
	height:40px;
	color:white;
	
	
	
}
.location-bar ul{
	margin:0;
	pagging:0;
	list-style:none;
}


.location-bar ul li{
	float:left;
	
	border-right: 1px solid #B4B4B4;
}

.content{
	background-color:white;
	width:100%;
	color:#000000;
	
}

.content h1{
	color:#1167A8;
	
}


.content img{
	float:right;
	position:relative;
	right:20px;
}



.content p{
	width:215px;
	
	
}


.content a{
	text-decoration:none;
	
}
.content-links{
	margin-top:68px;
	line-height: 2em;
	background-color:white;
	width:250px;
	
	
}
#logo{
	float:left;
	padding-top: 6 px;
	padding-right: 10px;
	padding-bottom: 6px;
	background-color:#ecebf1;
	border-right: 1px solid #B4B4B4;
	
}

#search-box{
	float:right;
	width:200px;
	padding:10px;
	
	
}

#search-box input{
	height:20px;
	padding-bottom: 2px; 
	background-image: url('http://static.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	
	
}

#sign-in{
	float:left;
	font-weight: bold;
	font-size:1.1em;
	padding: 10px;
	border: 1px solid #B4B4B4;
	background-color:#ecebf1;

	
}

.watch-listen{
	float:right;
	position:relative;
	bottom:30px;
	right:300px;
	pading: 0 0 0 25px;
}

.watch-listen h2{
	font-famoly: Arial;
	font-weight:100;
	padding:0;
	margin:0 0 20px 0;
	
}

.copyright{
	float:bottom;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:white;
	width: 100%;
}
.copyright h3{
	font-famoly: Arial;
	font-weight:100;
	padding:0;
	margin:0 0 20px 0;
	
}

.form{
	top:50px;
	margin:0 25% 0 25%;
	width:50%;
	background-color:white;
}

</style>